.navbar {
  width: 100%;
  background-color: #050505; /* warm food color */
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}



.login-link{
  display: flex;
  color: white;
  text-decoration: none;
  margin-left: 65px ;
  transition: all 0.5s;


}

.login-link :hover{
  color: coral;
}


.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
  letter-spacing: 1px;
}

.logo span {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 600px) {
  .logo {
    font-size: 1.2rem;
  }
}
